:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

h2{
  text-align: center;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

button{
  border: thin solid #444;
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
  margin: 0 .5rem 0 0;
  background-color: #eee;
  color: #444;
  font-weight: bold;
  text-transform: none;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
}